{% extends 'base.html' %}

{% block title %}作业控制{% endblock %}
{% block style %}
    .panel {
     margin:20px
    }
    #container-search{
     margin:20px
    }
{% endblock %}
{% block content %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			装船作业控制
		</h3>
	</div>
	<div class="panel-body">
        <div class=container-fluid>
            <div class="row">
                <div class="col-md-3 col-md-offset-9">
                       <button class="btn btn-danger">返回</button>
                </div>
            </div>
           <div class="row">
                <div class="col-md-12 ">
                    <table class="table table-striped table- hover table-bordered">
                        <thead>
                            <tr>
                                <th>装船作业编号</th>
                                <th>装船计划编号</th>
                                <th>出口航次</th>
                                <th>英文船名</th>
                                <th>岸桥编号</th>
                                <th>AGV编号</th>
                                <th >操作1</th>
                                <th >操作2</th>
                                <th >操作3</th>
                                <th >操作4</th>
                                <th >操作5</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for plan in plan_un_info %}
                            <tr>
                                {% if plan.job_id %}
                                <td>{{ plan.job_id }}</td>
                                {% else %}
                                <td></td>
                                {% endif %}
                                <td>{{ plan.plan_id }}</td>
                                <td>{{ plan.voy.voy_ex }}</td>
                                <td>{{ plan.vessel.en_name }}</td>
                                <td>{{ plan.qc.qc_id }}</td>
                                {% if plan.agv %}
                                <td>{{ plan.agv_id }}</td>
                                {% else %}
                                <td></td>
                                {% endif %}
                                <td><button class="btn btn-warning btn-xs" onclick="start_job('{{ plan.plan_id }}','{{ plan.qc.qc_id }}')">开始作业</button></td>
                                <td><button class="btn btn-default btn-xs " onclick="qc_job(1, '{{ plan.plan_id }}','{{ plan.qc.qc_id }}')">岸桥开始作业</button></td>
                                <td><button class="btn btn-danger btn-xs" onclick="transfer_load('{{ plan.plan_id }}','{{ plan.qc.qc_id }}')">中转平台确认</button></td>
                                <td ><button class="btn btn-default btn-xs" onclick="qc_job(2, '{{ plan.plan_id }}','{{ plan.qc.qc_id }}')">海侧吊具</button></td>
                                <td><button class="btn btn-warning btn-xs" onclick="agv_discharge_box('{{ plan.plan_id }}')">作业结束</button></td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>

// 岸桥作业
 function qc_job(box, plan_id, qc_id) {
     $.ajax({
        type: "post",
        url: '/grab_box/',
        headers: {"X-CSRFToken": "{{ csrf_token }}"},
        data: {
            box: box,
            plan_id: plan_id,
            qc_id: qc_id
        },
        success: function (ret) {
            if (ret.code === 0) {
                myAlert1(ret.msg);
                $('#myModal1').on('hidden.bs.modal', function () {
                     window.location.reload()
                    })
            } else {
                myAlert1(ret.msg)
            }
        }
    })
 }

 // 中转
 function transfer_load(plan_id, qc_id) {
     $.ajax({
        type: "post",
        url: '/transfer/',
        headers: {"X-CSRFToken": "{{ csrf_token }}"},
        data: {
            plan_id: plan_id,
            qc_id: qc_id
        },
        success: function (ret) {
            if (ret.code === 0) {
                myAlert1(ret.msg);
            } else {
                myAlert1(ret.msg)
            }
        }
    })
 }

// start_job 开始作业
function start_job(plan_id, qc_id) {
     $.ajax({
        type: "post",
        url: '/start_job/',
        headers: {"X-CSRFToken": "{{ csrf_token }}"},
        data: {
            plan_id: plan_id,
            qc_id: qc_id
        },
        success: function (ret) {
            if (ret.code === 0) {
                myAlert1(ret.msg);
                $('#myModal1').on('hidden.bs.modal', function () {
                     window.location.reload()
                    })
            } else {
                myAlert1(ret.msg)
            }
        }
    })
 }

 // agv 放箱
function agv_discharge_box(plan_id) {
     $.ajax({
        type: "post",
        url: '/agv_discharge_box/',
        headers: {"X-CSRFToken": "{{ csrf_token }}"},
        data: {
            plan_id: plan_id
        },
        success: function (ret) {
            if (ret.code === 0) {
                myAlert1(ret.msg);
            } else {
                myAlert1(ret.msg)
            }
        }
    })
 }
</script>
{% endblock %}