{% extends 'base.html' %}

{% block title %}进口箱信息维护{% endblock %}
{% block style %}
    .panel {
    margin:20px
    }
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>进出口箱信息维护</h4>
        </div>
        <div class="panel-body">
            <div class=container-fluid>

                <div class="row">
                    <div class="col-md-3">
                        <a href="/container_add/">
                            <button class="btn btn-primary">添加记录</button>
                        </a>
                    </div>
                    <div class="col-md-3 col-md-offset-6">
                        <ol class="breadcrumb">
                            <input type="text" id="search_input" placeholder="请输入进口航次查询">
                            <button onclick="search()">search</button>
                        </ol>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 ">
                        <table class="table table-striped table- hover table-bordered">
                            <thead>
                            <tr>
                                <th>记录号</th>
                                <th>箱号</th>
                                <th>船名</th>
                                <th>进口航次</th>
                                <th>出口航次</th>
                                <th>箱位</th>
                                <th>尺寸</th>
                                <th>重量(单位:T)</th>
                                <th>是否特殊箱</th>
                                <th>箱进出口类型</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="tbodys">
                            {% for container in container_list %}
                                <tr>
                                    <td>{{ container.id }}</td>
                                    <td>{{ container.iso_no }}</td>
                                    <td>{{ container.vessel.en_name}}({{ container.vessel.cn_name }})</td>
                                    <td>{{ container.voy.voy_im }}</td>
                                    <td>{{ container.voy.voy_ex }}</td>
                                    <td>{{ container.space }}</td>
                                    <td>{{ container.size }}</td>
                                    <td>{{ container.weight }}</td>
                                    <td>{{ container.special }}</td>
                                    {% if container.type == 0 %}
                                        <td>进口</td>
                                    {% else %}
                                        <td>出口</td>
                                    {% endif %}

                                    <td class="center-block">
                                        <button class="btn btn-warning btn-sm ">编辑</button>
                                        <button class="btn btn-danger btn-sm "
                                                onclick="delete_container(this, {{ container.id }})">删除
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function delete_container(tr, id) {
            var msg = confirm('确定删除么?');
            if (msg == true) {
                $.ajax({
                    type: 'post',
                    url: '/delete_container/',
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    data: {
                        c_id: id
                    },
                    success: function (ret) {
                        if (ret.code == 0) {
                            $(tr).closest('tr').remove();
                        }
                    }
                });
            } else {
                return false
            }
        }

        function search() {
            var voy = $('#search_input').val();
            $.ajax({
                type: 'post',
                url: '/search_container/',
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                data: {
                    voy: voy
                },
                success: function (ret) {
                    var container_list = ret.container_list;
                    var html = '';
                    if (ret.code == 0) {
                        $('#tbodys').html('');
                        for (var i = 0; i < container_list.length; i++) {
                            var type;
                            if (container_list[i]['type'] == 0){
                                type ='进口'
                            }
                            else {
                                type ='出口'
                            }
                            html += "<tr>\n" +
                                "<td>" + container_list[i]['id'] + "</td>\n" +
                                "<td>" + container_list[i]['iso_no'] + "</td>\n" +
                                "<td>" + container_list[i]['vessel_en'] + "("+container_list[i]['vessel_cn']+")"+"</td>\n" +
                                "<td>" + container_list[i]['voy_im'] + "</td>\n" +
                                "<td>" + container_list[i]['voy_ex'] + "</td>\n" +
                                "<td>" + container_list[i]['space'] + "</td>\n" +
                                "<td>" + container_list[i]['size'] + "</td>\n" +
                                "<td>" + container_list[i]['weight'] + "</td>\n" +
                                "<td>" + container_list[i]['special'] + "</td>\n" +
                                "<td>" + type + "</td>\n" +
                                "<td class=\"center-block\">\n" +
                                "<a href=\"/edit_vesse/" + container_list[i]['id'] + "\"><button class=\"btn btn-warning btn-sm \">编辑</button></a>\n" +
                                "<button class=\"btn btn-danger btn-sm \" onclick=\"delete_container(this, " + container_list[i]['id'] + ")\">删除</button>\n" +
                                "</td>\n" +
                                "</tr>"
                        }
                        $('#tbodys').append(html)
                    }
                }
            });
        }
    </script>

{% endblock %}