{% extends 'base.html' %}

{% block title %}船舶记录添加{% endblock %}
{% block style %}
    .row{
    margin:20px;}
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                航次录入
            </h3>
        </div>
        <div class="panel-body">
            <div class=container-fluid>
                <form role="form" id="voy-form">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-3">
                            <label for="vessel">船名</label>
                            <select class="form-control" name="vessel">
                                {% for vessel in vessel_list %}
                                    <option value="{{ vessel.id }}">{{ vessel.en_name }}({{ vessel.cn_name }})</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="voy">进口航次</label>
                            <input type="text" class="form-control" id="voy_im" name="voy_im" placeholder="请输入航次">
                        </div>
                        <div class="col-md-3">
                            <label for="voy">出口航次</label>
                            <input type="text" class="form-control" id="voy_ex" name="voy_ex" placeholder="请输入航次">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-3">
                            <label for="b_time_plan">计划靠泊时间</label>
                            <input type="datetime-local" class="form-control" id="b_time_plan" name="b_time_plan"
                                   placeholder="请输入计划靠泊时间">
                        </div>
                        <div class="col-md-3">
                            <label for="d_time_plan">计划离泊时间</label>
                            <input type="datetime-local" class="form-control" id="d_time_plan" name="d_time_plan"
                                   placeholder="请输入计划离泊时间">
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-warning center-block" form="container-export-form" type="button"
                                formmethod="post" id="voy_btn">提交
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#voy_btn").click(function () {
            //  校验表单不能为空 正则匹配这里可以加
            if (
                $("#voy_im").val() == '' ||
                $("#voy_ex").val() == '' ||
                $("#vessel").val() == '' ||
                $("#d_time_plan").val() == '' ||
                $("#b_time_plan").val() == ''
            ) {
                alert('必填项不能为空！')
            } else {
                $.ajax({
                    type: "post",
                    url: '/voy_input/',
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    data: $("#voy-form").serialize(),
                    success: function (ret) {
                        if (ret.code === 0) {
                            alert(ret.msg);
                        } else {
                            alert(ret.msg)
                        }
                    }
                })
            }
        });
    </script>
{% endblock %}
