{% extends 'base.html' %}

{% block title %}出口航次维护{% endblock %}
{% block style %}
    .panel {
    margin:20px
    }
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>出口航次维护</h4>
        </div>
        <div class="panel-body">
            <div class=container-fluid>
                <div class="row">
                    <div class="col-md-12 ">
                        <table class="table table-striped table- hover table-bordered">
                            <thead>
                            <tr>
                                <th>记录号</th>
                                <th>进口航次</th>
                                <th>出口航次</th>
                                <th>计划靠泊时间</th>
                                <th>计划离泊时间</th>
                                <th>船名</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for voy in voy_list %}
                                <tr>
                                    <td>{{ voy.id }}</td>
                                    <td>{{ voy.voy_im }}</td>
                                    <td>{{ voy.voy_ex }}</td>
                                    <td>{{ voy.ETB }}</td>
                                    <td>{{ voy.ETD }}</td>
                                    <td>{{ voy.vessel.en_name }}({{ voy.vessel.cn_name }})</td>
                                    <td class="center-block" style="text-align: center">
                                        <button class="btn btn-danger btn-sm "
                                                onclick="delete_voy_e(this, {{ voy.id }})">删除
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function delete_voy_e(tr, v_id) {
            var msg = confirm('确定删除么?');
            if (msg == true) {
                $.ajax({
                    type: 'post',
                    url: '/delete_voy/',
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    data: {v_id: v_id},
                    success: function (ret) {
                        if (ret.code == 0) {
                            $(tr).closest('tr').remove();
                        }
                    }
                })
            } else {
                return false
            }
        }
    </script>
{% endblock %}